@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Montserrat&family=Ubuntu&family=Varela+Round&display=swap');

body{
    background-color: #85F4FF;
}

*{
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;

}

nav ul{
    display: flex;
    /*horizontally aligns items */
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 65px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
    padding: 0 12px 0 0;
}


.container {
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 15px;
    padding: 34px;
    background-image: url('SpotifyCloneBackground (2).png');
    background-size: 100%;
    background-repeat:no-repeat;
}

.bottom {
    position: sticky;
    height: 150px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.icons{
    color: white;
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}

.songList {
    padding-bottom: 20px;
}


.songItemContainer {
    margin-top: 60px;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: white;
    /* width: 70%; */
    height: 10%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}

.songItem img{
    width: 43px;
    margin: 0 13px;
    border: 35px;
    border-radius: 35px;
}

.timestamp {
    margin-right: 10px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 9vw;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.5s ease-in; 
}

